{% extends "inventarios/layout.html" %}

{% block title %}
    Misión
{% endblock %}

{% block main %}
    <section id="b">
        <h2>MISIÓN</h2>
        <p>Es una sociedad del sector de la construcción, dedicada a ofrecer
            servicios de carpintería en aluminio, obra civil, remodelación y
            adecuación de inmuebles; satisfaciendo de este modo las necesidades
            de los clientes antes, durante y después de finalizado el proyecto;
            contando con un personal que reúne excelentes cualidades humanas y
            profesionales, considerados como el mayor recurso de este modo
            comprometida para garantizarles una justa remuneración.Se encuentra
            en la firme búsqueda de establecer relaciones duraderas con los
            clientes y proveedores, que le permitan contribuir al desarrollo del
            país fomentando la preservación del medio ambiente y la generación
            de empleo calificado.</p>  
    </section>       

    <div class="slideshow-contenedor">
        <div class="slide desvanece">
            <div class="textoimg">1 / 8</div>
            <img src="/static/inventarios/pic1.jpeg" style="width:100%">
        </div>

        <div class="slide desvanece">
            <div class="textoimg">2 / 8</div>
            <img src="/static/inventarios/pic2.jpeg" style="width:100%">
        </div>

        <div class="slide desvanece">
            <div class="textoimg">3 / 8</div>
            <img src="/static/inventarios/pic3.jpeg" style="width:100%">
        </div>

        <div class="slide desvanece">
            <div class="textoimg">4 / 8</div>
            <img src="/static/inventarios/pic4.jpeg" style="width:100%">
        </div>

        <div class="slide desvanece">
            <div class="textoimg">5 / 8</div>
            <img src="/static/inventarios/pic5.jpeg" style="width:100%">
        </div>

        <div class="slide desvanece">
            <div class="textoimg">6 / 8</div>
            <img src="/static/inventarios/pic6.jpeg" style="width:100%">
        </div>

        <div class="slide desvanece">
            <div class="textoimg">7 / 8</div>
            <img src="/static/inventarios/pic7.jpeg" style="width:100%">
        </div>

        <div class="slide desvanece">
            <div class="textoimg">8 / 8</div>
            <img src="/static/inventarios/pic8.jpeg" style="width:100%">
        </div>
    </div>
    <br>

    <div class="puntos">
        <span class="punto"></span> 
        <span class="punto"></span> 
        <span class="punto"></span>
        <span class="punto"></span> 
        <span class="punto"></span> 
        <span class="punto"></span>
        <span class="punto"></span> 
        <span class="punto"></span> 
    </div>
    <br>
{% endblock %}