{% extends "inventarios/layout.html" %}

{% block title %}
    Visión
{% endblock%}

{% block main %}
    <section id="b">
        <h2>VISIÓN</h2>
        <p>Para el 2022, ser una sociedad del gremio de la construcción
        con gran   reconocimiento a nivel local, destacada por anticipar
        las expectativas y necesidades de los clientes, esto a través del
        desarrollo de los proyectos en tiempos óptimos; apoyados en el
        activo más importante el personal, insistentes en la mejora continua
        de los procesos y de este modo poder ofrecer siempre servicios de
        calidad a los clientes.</p>  
    </section>
    <div class="video-contenedor">
        <video controls autoplay loop>
            <source src="/static/inventarios/video1.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
    <div style="height: 300px;"></div>
{% endblock %}
     